<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.healthy.user.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.example.healthy.user.entity.User">
        INSERT INTO USER (
        ID
        ,PASSWORD
        ,NAME
        ,PHONE
        ,EMAIL
        ,GENDER
        ,BIRTH
        ,ADDRESS1
        ,ADDRESS2
        ,ADDRESS3
        ,HEIGHT
        ,WEIGHT
        ,STATUS
        ,SUBSCRIPTION
        ,SUB_DAY
        ,ENABLED
        ) VALUES(
        #{id}
        ,#{password}
        ,#{name}
        ,#{phone}
        ,#{email}
        ,#{gender}
        ,#{birth}
        ,#{address1}
        ,#{address2}
        ,#{address3}
        ,#{height}
        ,#{weight}
        ,1
        ,0
        ,CURRENT_TIMESTAMP
        ,1
        )
    </insert>

    <insert id="insertUserAuth" parameterType="com.example.healthy.user.entity.UserAuth">
        INSERT INTO USER_AUTH (
        ID
        ,AUTH
        ) VALUES(
        #{id}
        ,#{auth}
        )
    </insert>

    <resultMap type="com.example.healthy.user.entity.User" id="userResultMap">
        <id column="id" property="id"/>
        <result column="idx" property="idx"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="birth" property="birth"/>
        <result column="address1" property="address1"/>
        <result column="address2" property="address2"/>
        <result column="address3" property="address3"/>
        <result column="height" property="height"/>
        <result column="weight" property="weight"/>
        <result column="status" property="status"/>
        <result column="subscription" property="subscription"/>
        <result column="subDay" property="subDay"/>
        <result column="enabled" property="enabled"/>
        <collection property="userAuthList" select="selectUserAuthById" column="id"/>
    </resultMap>

    <!-- 권한 검색 -->
    <select id="selectUserAuthById" resultType="com.example.healthy.user.entity.UserAuth">
        SELECT
        IDX
        ,ID
        ,AUTH
        FROM USER_AUTH
        WHERE ID = #{id}
    </select>

    <select id="selectUserById" resultMap="userResultMap">
        SELECT
            IDX
            ,ID
            ,PASSWORD
            ,NAME
            ,PHONE
            ,EMAIL
            ,GENDER
            ,BIRTH
            ,ADDRESS1
            ,ADDRESS2
            ,ADDRESS3
            ,HEIGHT
            ,WEIGHT
            ,STATUS
            ,SUBSCRIPTION
            ,SUB_DAY
            ,ENABLED
        FROM USER
        WHERE ID=#{id}
    </select>

    <select id="selectUserByEmail" resultMap="userResultMap">
        SELECT
        IDX
        ,ID
        ,PASSWORD
        ,NAME
        ,PHONE
        ,EMAIL
        ,GENDER
        ,BIRTH
        ,ADDRESS1
        ,ADDRESS2
        ,ADDRESS3
        ,HEIGHT
        ,WEIGHT
        ,STATUS
        ,SUBSCRIPTION
        ,SUB_DAY
        ,ENABLED
        FROM USER
        WHERE EMAIL=#{email}
    </select>

    <!-- 아이디 중복검사 -->
    <select id="idCheck" resultType="int">
        SELECT COUNT(*)
        FROM USER
        WHERE ID = #{id}
    </select>

    <!-- 이메일 중복검사 -->
    <select id="emailCheck" resultType="int">
        SELECT COUNT(*)
        FROM USER
        WHERE EMAIL = #{email}
    </select>

</mapper>